{% extends './base.html' %}

{% block body %}
<div class="create-client-form">
    <h2>Crear cliente</h2>

    <form id="formularioCliente" onsubmit="enviarFormulario(event)">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required />

        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required />

        <input type="submit" value="Crear" />
    </form>
</div>
<script src="{{ url_for('static', filename='js/add_client.js') }}"></script>
{% endblock %}
